<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRODUCTS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <style>
        .header-btn {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
    </style>
  </head>
  <body class="bg-dark">
    <div class="container row mx-auto">
      <div class="col-lg-7 mx-auto shadow-lg bg-body-tertiary rounded my-5">
        <div class="row">
              <button class="header-btn fs-6 lh-sm"><a href="/portfolio/{{productowner}}" style="text-decoration: none; color: black;">Portfolio: {{productowner}}</a></button>
              <hr>
            <div class="d-flex align-items-center fs-2 col-6">
              <a data-bs-toggle="tooltip" data-bs-title="Authenticated">
                <i class="bi bi-patch-check-fill" style="color: green"></i>
              </a>
              <div class="mx-1">
                <span class="fs-4 lh-sm text-break">{{ productxrpl.product }}</span>
                <script>
                  var creation = new Date( {{ productxrpl.creation }} * 1000);
                  document.write(`<p class="fs-6 lh-sm small">${creation.toLocaleString()}</p>`);
                </script>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-end col-6">
              <div class="text-center">
                <a type="button" class="btn btn-warning">Product</a>
                <br>
                <a class="small text-black" href="https://testnet.xrpl.org/nft/{{product.nftokenid}}" target="_blank">XRPL</a>
              </div>
            </div>
        </div>
          <div class="p-5 text-center">
            <image 
            src="../static/uploads/{{productmodel.image}}"
            class="img-fluid"/>
            <div class="progress mt-2" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-danger" style="width: {{stage_dict.percentage}}%">{{stage_dict.percentage}}%</div>
            </div>
            <p class="text-start"><strong>Step {{stage_dict.stage}}</strong> of {{stage_dict.max_stage}} production steps</p>
            
            <div class="text-start">
              <hr>
              <h5>Product Data</h5>
              <p><strong>Orginization:</strong> {{ productxrpl.org }}</p>
              <p><strong>Product:</strong> {{ productxrpl.product }}</p>
              <p><strong>Model:</strong> {{ productxrpl.model }}</p>
              <script>
                var creation = new Date( {{ productxrpl.creation }} * 1000);
                document.write(`<p><strong>Creation:</strong> ${creation.toLocaleString()}</p>`);
              </script>
              <hr>
              <h5>Product History</h5>
              {% for i in validatedhistory %}
                {% if i.active == true %}
                  <script>
                    var creation = new Date( {{i.date}}  * 1000);
                    document.write(`<p><strong>{{i.stage_name}}: </strong> ${creation.toLocaleString()} <a href="https://testnet.xrpl.org/nft/{{i.validating_id}}" target="_blank">Validated</a></p>`);
                  </script>
                {% else %}
                  <p><strong>{{i.stage_name}}:</strong> <s>Not Active</s> </p>
                {% endif %}
              {% endfor %}
              <hr>
              <h5>Product Metadata</h5>
                {% if validatedmetadata %}
                  {% for i in validatedmetadata.uri %}
                    <p><strong>{{i}}: </strong> {{validatedmetadata.uri[i]}}</p>
                  {% endfor %}
                  <a href="https://testnet.xrpl.org/nft/{{validatedmetadata.nftokenid}}" target="_blank">Validated</a>
                {% else %}
                  <p><strong>There is no validated metadata.</strong></p>
                {% endif %}
            </div>
          </div>
        </div>
    </div>
    <!---->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <!---->
  </body>
</html>